body {
	font-family: sans-serif;
	text-align: center;
  background: #000;
}

nav > a {
  padding: 14px 16px;
  text-align: center;
  color: white;
  background-color: black;
}

nav > a:hover {
  background-color: white;
  color: black;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

li>a {
  width: 300px;
  height: 200px;
  background: #111;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  margin: 15px;
  transition: all 0.5s ease;
}

li>a>p:first-child {
  color: #0ff;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

li>a>p{
    display: block;
}

li>a::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

li>a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

li>a:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}